.detail{
    text-align:left;
    margin:1em auto;
    width: 50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#121212;
    padding:1em;
    border-radius:1em;
  
}
.detail>a{
    font-size:24px;
}
.detail>a>i{
    font-size:24px;

}


.detail-head{
    margin-top: 2%;
}

.moda{
    background-color:white;
    z-index: 9999;
}

@media only screen and (max-width: 768px){
    .detail>a{
        margin-top: 20%;

    }
    
}